{% extends "base.html" %} 
</>
{% block content %}
<section class="container text-center m-3 p-3" id="about">
  <h1 class="display-5">About Me</h1>
  <p class="lead">
    I am a full stack developer and I enjoy creating websites and web applications.
  </p>
  <figure>
    <img
      src="https://images.unsplash.com/photo-1673987995617-66c2e3df5173?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=664&q=80"
      alt="Placeholder image"
    />
    <figcaption>A placeholder image of me</figcaption>
  </figure>
</section>
{% endblock %}
