{% extends "base.html" %}
<!---->
{% block header %}
<div id="creative-header" class="p-3 container text-center">
  <h1 class="display-5">Creative Coding</h1>
  <p class="lead">Don't forget to try them out in fullscreen by clicking!</p>
</div>
{% endblock %}
<!---->
{% block content %} {% load static %}

<div class="container text-center">
  <h3>Projects</h3>
  <div class="d-flex justify-content-center">
    <div class="card" style="width: 18rem">
      <img
        src="{% static 'js/bouncing-balls.png' %}"
        class="card-img-top"
        alt="Green balls on a black background"
      />
      <div class="card-body">
        <h5 class="card-title">Bouncing Balls</h5>
        <p class="card-text">Naturally bouncing balls in a box.</p>
        <a href="/creative-coding/bouncing-balls" class="btn btn-primary"
          >View</a
        >
      </div>
    </div>
    <div class="card" style="width: 18rem">
      <img
        src="{% static 'js/starfield.png' %}"
        class="card-img-top"
        alt="White streaking stars on a black background"
      />
      <div class="card-body">
        <h5 class="card-title">Starfield</h5>
        <p class="card-text">
          Travelling through the universe at warp/light speed.
        </p>
        <a href="/creative-coding/starfield" class="btn btn-primary">View</a>
      </div>
    </div>
  </div>
</div>

{% endblock%}
