{% extends "base.html" %}
<!---->
{% block header %}
<div id="creative-header" class="p-3 container text-center">
  <h1 class="display-5">Games</h1>
</div>
{% endblock %}
<!---->
{% block content %} {% load static %}

<div class="container text-center">
  <div class="d-flex justify-content-center">

    <div class="card m-3" style="width: 18rem">
      <img
        src="{% static 'js/sudoku.png' %}"
        class="card-img-top"
        alt="Image of a half completed sudoku board"
      />
      <div class="card-body">
        <h5 class="card-title">Sudoku Backtrace Autosolver</h5>
        <p class="card-text">We brute force our way to a solution!</p>
        <a href="/games/sudoku_backtrace" class="btn btn-primary"
          >View</a
        >
      </div>
    </div>

  </div>
</div>

{% endblock%}
