{% extends "base.html" %} {% block header %}

<section class="m-4" id="home">
  <h1 class="display-5">Welcome to My Portfolio</h1>
  <p class="lead">
    Please explore this site to see all my published creations.
  </p>
  <p>This site was built with the Python Full Stack framework Django.</p>
  <p>
    <a
      class="btn btn-primary"
      href="https://github.com/adam248/portfolio"
      target="_blan"
    >
      Check out the Source Code
      <i class="fa-brands fa-github"></i>
    </a>
  </p>
</section>
{% endblock %} {% block content %}
<section class="p-4" id="code-examples">
  <h2>Code Examples</h2>
  <ul>
    <li>Path Finding Algorithms</li>
    <li>Todo App</li>
    <li>Sorting Algorithms</li>
  </ul>
  <p>{% lorem 1 b random %}</p>
</section>
{% endblock %}
