<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="utf-8" />
    <!-- page title (can be left to just be the site wide or app/page specific) -->
    <title>{% block title %}Adam's Portfolio{% endblock %}</title>
    <!-- page icon (can be left to just be the site wide or app/page specific) -->
    {% block favicon %} {% endblock %}
    <!-- site wide style -->
    {% block style %} {% endblock %}
    <!-- app/page specific metadata -->
    {% block head %} {% endblock %}
  </head>
  <body>
    <div class="d-flex flex-column min-vh-100">
      <!-- site wide navbar -->
      {% block navbar %} {% endblock %}
      <div class="container flex-fill">
        <div class="container text-center">
          <!-- app/page header (introduction elements or navigation) -->
          {% block header %} {% endblock %}
        </div>
        <!-- app/page content (article, form or other main focual point) -->
        {% block content %} {% endblock %}
      </div>
      <!-- site wide footer -->
      {% block footer %} {% endblock %}
    </div>
    <!-- load scripts at the end of the file -->
    {% block scripts %} {% endblock %}
  </body>
</html>
