<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta
      name="description"
      content="Adam Butler's Portfolio of coding creations. Using Python and Django on the backend and Javascript for frontend."
    />
    <meta
      name="keywords"
      content="python, javascript, portfolio, resume, developer, software"
    />
    <!-- page title (can be left to just be the site wide or app/page specific) -->
    <title>{% block title %}Adam's Portfolio{% endblock %}</title>
    <!-- page icon (can be left to just be the site wide or app/page specific) -->
    {% block favicon %} {% endblock %}
    <!-- site wide style -->
    {% block style %} {% endblock %}
    <!-- app/page specific metadata -->
    {% block head %} {% endblock %}
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-REGRLJ5NSB"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-REGRLJ5NSB");
    </script>
  </head>
  <body>
    <div id="main-wrapper">
      <!-- site wide navbar -->
      {% block navbar %} {% endblock %}
      <article>
        <!-- app/page header (introduction elements or navigation) -->
        {% block header %} {% endblock %}
        <!-- app/page content (article, form or other main focual point) -->
        {% block content %} {% endblock %}
      </article>

      <footer class="p-4 m-0 bg-dark-subtle text-white text-center">
        <!-- site wide footer -->
        {% block footer %} {% endblock %}
      </footer>
      <!-- load scripts at the end of the file -->
      {% block scripts %} {% endblock %}
    </div>
  </body>
</html>
