{% extends "style.html" %} {% load static %} {% block navbar %}
<nav class="navbar sticky-top navbar-expand-sm navbar-light bg-primary">
  <div class="container">
    <a href="/" class="navbar-brand">
      <img
        class="d-inline-block align-top"
        src="{% static 'favicon/white-32.png' %}"
      />
      Adam's Portfolio
    </a>
    <button
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      class="navbar-toggler"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="/">Home</a>
        </li>
        {% include "nav-examples.html" %}
        <li class="nav-item">
          <a class="nav-link disabled" href="/contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}
